main {
    padding: 20px;
}
h2 {
    text-align: center;
}

ul {
    margin: 0 auto;
    max-width: 50%;
}

li {
    padding: 10px;
    display: flex;
}

li:nth-child(odd) {
    background-color: #efefef;
}

.button-actions {
    white-space: nowrap;
}

.movie-title {
    display: inline-block;
    flex-basis: 100%;
}

small {
    display: block;
    word-break: break-all;
}
